body{
    background: gainsboro;
    margin: 0;
    font-family: Cursive, sans-serif;
}

h2{
    margin: 0;
}

ul{
    margin: 0 0 0 0px;
}

a {
    color: inherit;
    text-decoration: none;
}
.ul-menu{
    left: 15px;
}

#menu ul{
  //  padding: 0;
}


#menu{
    width: 100%;
    height: 60px;
    background:#A07965;
    border-bottom: 3px solid rgb(117, 75, 29);
}

#menu .main-menu{
    float: left;
    padding: 17px 13px 18px 13px;
    font-size: 18px;
    list-style: none;
    color: #E4DACC;
    border-right: 3px solid #754B1D;
    border-left: 1px solid #B9AE9E;

}
.main-menu:hover{
    background: #7c4e23;
}
#footer{
    height: 50px;
    background:#A07965;
    border-bottom: 3px solid rgb(117, 75, 29);
    border-top:3px solid rgb(117, 75, 29) ;
    color: #E1DACC;
    padding: 25px 0 0 0;
}

/*li{

}
li:before {
    content: "¶"; !* Добавляем желаемый символ перед элементом списка *!
}*/


#body{
    width: 1000px;
    background-color: #cae1ff;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#header{
    color: rgb(230, 102, 8);
    text-shadow: 4px -2px 2px #4A4949;
    font-size: 4em;
    border-bottom: 3px solid rgb(117, 75, 29);

}
.content{
    font-size: 1.2em;
    color: #737679;
    text-align: left;
    margin: 20px;
    padding-bottom: 20px;
   // display: inline-block;
}

.content a {
    text-decoration:  underline ;
}
.content h3 a:hover{
    color: #2A547D;
}

li{
    padding-bottom: 15px;
}

#my_timer{
    color: #f00;
    font-size: 250%;
    font-weight: bold;
    margin: 0 0 0 330px;
    text-align: right;
}
.time {
    color: #f00;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.addTimeNews{
    font-size: 14px;
    background: rgba(162, 173, 183, 0.26);
    padding: 10px;


}

.tableTasks {
    table-layout: fixed;
    height:100px;
    width:100%;
    border:solid 2px;
    rules: solid 2px;
    font-size: 110%;
    color: #737679;
    border-collapse: collapse;
    background: #dae6ec;
    text-align: center;
}
th{
    border: solid 2px;
    word-wrap:break-word;
}

.selectMenu{
    width: 150px;
    font: inherit;
    color: #54585D;
    margin: 20px 20px 0 0;
}
p{
    font: inherit;
    color: #54585D;
}
.submitForm {
    display: inline-block;
    //margin-top: 320px;
    width: 9em;
    font-size: 120%;
    color:rgb(228, 218, 204);
    text-shadow: #191512 0 1px 2px;
    text-decoration: none;
    text-align: center;
    line-height: 1.1;
    white-space: pre-line;
    padding: .7em 0;
    border: 1px solid;
    border-color:#A07965 #A07965 #754B1D #754B1D;
    border-radius: 6px;
    outline: none;
    background: #A07965 linear-gradient(#A07965, #754B1D 50%, #754B1D 50%);
    box-shadow: inset rgba(255, 255, 255, .5) 1px 1px;
    margin-top: 20px;
}
.submitForm:active {
    background: #A07965 linear-gradient( #754B1D  ,#754B1D  ,#A07965 );
}
#numTaskIn{
    width: 50px;
    padding-left: 10px ;
    font: inherit;
    color: #54585D;

   // margin: 20px 20px 0 0;
}

.h{
    //padding: 0;
    margin: 0 0 10px 0;
}
#textTaskAdmin{
    margin-bottom: 20px;
    resize: none;
}
.newsHead{
    border-bottom: 3px solid rgb(97, 93, 88);
   //

}
.newsContent{

    box-shadow: 0 0 8px #7A83AF;
    border: 1px solid #B5BFC5;
    background-color:rgb(251, 199, 179);
    margin: 15px;
    padding:  2px 30px 2px 30px;

}
.textForHtml{
    background: #E4C8A8;
    width: 630px;
    //max-width: 65%;
    height: 450px;
    cols: 20;
    margin: 0 0 0 25px;
    //resize: none;
   // float: right;
    padding: 0 10px 0 10px;
    display: table-cell;
    word-break: break-all;
    border: 3px solid rgb(117, 75, 29);

}

#commentText{
    resize: none;
}
#addTask{
    display: inline-block;
}
#html{
   width: 100%;

}
#size{
   // display: -webkit-box;
}
#formIn{
   float: left;
    padding-right: 25px;
}

ul.dropdown li {
    position: relative;
}
ul.dropdown,
ul.dropdown-inside {
    list-style-type: none;
    padding: 0;

}
ul.dropdown-inside {
    position: absolute;
    left: -9999px;
}
ul.dropdown li.dropdown-top {
    display: inline;
    float: left;
    margin: 0 1px 0 0;
}
ul.dropdown li.dropdown-top a {
    display: block;
}
ul.dropdown a.dropdown-top { background: #61381e; }

ul.dropdown a.dropdown-top:hover {
    z-index: 1;
    padding: 20px 10px 5px;
}
ul.dropdown li.dropdown-top:hover .dropdown-inside {
    z-index: 1;
    display: block;
    left: 0;
}
ul.dropdown .dropdown-inside {
    background: #7c4e23;
    margin: 18px 0 0 0;
    width: 200px;
    font-size: 15px;

}
ul.dropdown .dropdown-inside li{
    z-index: 1;
    padding: 10px 10px 10px 10px;
    border-bottom: 3px solid  #61381e;
}
ul.dropdown .dropdown-inside :hover {
    background: #61381e;

}
.newsText{
    margin-top: 20px;
    margin-bottom: 20px;

}